{{- if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "archlinux")) -}}
#!/bin/bash
# Packages hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}
set -euo pipefail

packages=(
{{- range .packages.pacman }}
    {{ . }}
{{- end }}
)

pacman -Sy --needed --noconfirm "${packages[@]}"

{{ end -}}
