{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/bash
# Packages hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}
set -euo pipefail

# Install official packages
PACMAN_PACKAGES=(
{{- range .packages.arch.pacman }}
  {{ . }}
{{- end }}
)
pacman -Sy --needed --noconfirm "${PACMAN_PACKAGES[@]}"

{{ if .packages.arch.aur -}}
# Install AUR packages
if command -v yay &>/dev/null; then
  AUR_PACKAGES=(
  {{- range .packages.arch.aur }}
    {{ . }}
  {{- end }}
  )
  yay -Sy --needed --noconfirm "${AUR_PACKAGES[@]}"
fi
{{- end }}
{{ end -}}
