{{- if regexMatch "^arch" .chezmoi.osRelease.id -}}
#!/bin/bash
# Packages hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}
set -euo pipefail

# Install official packages
PACMAN_PACKAGES=(
{{- range .packages.arch.pacman }}
  {{ . }}
{{- end }}
)
pacman -Sy --needed --noconfirm "${PACMAN_PACKAGES[@]}"

{{ end -}}
