{{- if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "archlinux")) -}}
#!/bin/bash
set -euo pipefail

curl -fsSL https://opencode.ai/install | bash
{{ end -}}
