{{- if regexMatch "^arch" .chezmoi.osRelease.id -}}
#!/bin/bash
# Packages hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}
set -euo pipefail

# Install official packages
PACMAN_PACKAGES=(
{{- range .packages.arch.pacman }}
  {{ . }}
{{- end }}
)
pacman -Sy --needed --noconfirm "${PACMAN_PACKAGES[@]}"

{{ if .packages.arch.aur -}}
# Install AUR packages
if command -v yay &>/dev/null; then
  AUR_PACKAGES=(
  {{- range .packages.arch.aur }}
    {{ . }}
  {{- end }}
  )
  if ! yay -Sy --needed --noconfirm "${AUR_PACKAGES[@]}"; then
    printf 'Warning: failed to install AUR packages with yay. Continuing...\n' >&2
  fi
else
  printf 'Warning: yay not found. Skipping AUR package installation.\n' >&2
fi
{{- end }}

{{ end -}}
