{{- if eq .chezmoi.os "linux" -}}
#!{{ lookPath "bash" }}
# Packages hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}
set -euo pipefail

{{- if and (hasKey .chezmoi.osRelease "id") (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "archlinux")) }}
packages=(
{{- range .packages.pacman }}
    {{ . }}
{{- end }}
)
pacman -Syu --needed --noconfirm "${packages[@]}"
{{- else if and (hasKey .chezmoi.osRelease "id") (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) }}
# Debian / Ubuntu — use apt
if [ "$(id -u)" -eq 0 ]; then
  SUDO=""
else
  SUDO="sudo"
fi
apt_packages=(
{{- range .packages.apt }}
    {{ . }}
{{- end }}
)
export DEBIAN_FRONTEND=noninteractive
${SUDO} apt-get update
${SUDO} apt-get install -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" "${apt_packages[@]}"
{{ end -}}

{{ end -}}
