#!/bin/sh
set -eu

export PATH="$HOME/.local/bin:$PATH"

key_path="$HOME/.config/chezmoi/key.txt"

if [ -f "$key_path" ]; then
  exit 0
fi

mkdir -p "$HOME/.config/chezmoi"
chezmoi age decrypt --output "$key_path" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
chmod 600 "$key_path"
