{{- $sshSigningKey := glob (joinPath .chezmoi.homeDir ".ssh/id_ed25519.pub") -}}
[user]
	name = sachnun
	email = sachnun12@gmail.com
{{- if $sshSigningKey }}
	signingkey = {{ joinPath .chezmoi.homeDir ".ssh/id_ed25519.pub" }}
{{- end }}

[core]
	editor = nano
	autocrlf = input
	whitespace = fix

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true
	default = current

[fetch]
	prune = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[rebase]
	autoStash = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[alias]
	st = status -sb
	co = checkout
	br = branch
	cm = commit
	lg = log --oneline --graph --decorate --all
	unstage = reset HEAD --
	last = log -1 HEAD
	amend = commit --amend --no-edit
{{- if $sshSigningKey }}

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[commit]
	gpgsign = true

[tag]
	gpgsign = true
{{- end }}
