{
  "env": {
    "ANTHROPIC_BASE_URL": "{{ .anthropic.base_url }}",
    "ANTHROPIC_AUTH_TOKEN": "{{ .anthropic.auth_token }}",
    "ANTHROPIC_MODEL": "mimo-v2.5-pro",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "mimo-v2.5-pro",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "mimo-v2.5-pro",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "mimo-v2.5",
    "DISABLE_AUTOUPDATER": "1",
    "DISABLE_UPDATES": "1"
  },
  "effortLevel": "xhigh",
  "skipDangerousModePermissionPrompt": true
}
